@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.customize-border {
  @apply w-full border border-input_border p-[21px] pl-[25px] bg-transparent rounded-[5px] mt-2.5;
}

body {
  font-family: "DM Sans", serif;
  background-color: #171a30;
  color: #ffffff;
  margin: 0;
  font-size: 14px;
}

select.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("./src/assets/arrow_frame.png");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
}

input.placeholder-icon::placeholder {
  background-image: url("./src/assets/pen-icon.png");
  background-repeat: no-repeat;
  padding-left: 32px;
  padding-top: 2px;
  height: 25px;
}

.custom-round {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid #313a6c;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.custom-round:checked {
  background-image: url("./src/assets/checkmark.png");
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
}
